<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pangeea">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pangeea"
        tools:targetApi="31">
        <activity
            android:name=".test.AI_test_generator"
            android:exported="false" />
        <activity
            android:name=".test.Question_viewer_ABC"
            android:exported="false" />
        <activity
            android:name=".test.Question_viewer"
            android:exported="false" />
        <activity
            android:name=".test.Test_info_elev"
            android:exported="false" />
        <activity
            android:name=".test.Test_info_prof"
            android:exported="false" />
        <activity
            android:name=".test.Test_viewer_elev"
            android:exported="false" />
        <activity
            android:name=".test.Test_viewer_proffesor"
            android:exported="false" />
        <activity
            android:name=".test.Add_test_question"
            android:exported="false" />
        <activity
            android:name=".test.Add_test"
            android:exported="false" />
        <activity
            android:name=".other.ModifyTimetable"
            android:exported="false" />
        <activity
            android:name=".other.Dashboard"
            android:exported="false" />
        <activity
            android:name=".other.DailyHourSetter"
            android:exported="false" />
        <activity
            android:name=".catalogue.Materie_info"
            android:exported="false" />
        <activity
            android:name=".ai.AI_generator"
            android:exported="false" />
        <activity
            android:name=".content.Lesson_list"
            android:exported="false" />
        <activity
            android:name=".other.FileViewer"
            android:exported="false" />
        <activity
            android:name=".catalogue.Add_mark"
            android:exported="false" />
        <activity
            android:name=".catalogue.Pupil_info"
            android:exported="false" />
        <activity
            android:name=".task.Task_info_proffesor"
            android:exported="false" />
        <activity
            android:name=".hour.Hour_info_profesor"
            android:exported="false" />
        <activity
            android:name=".task.Task_info"
            android:exported="false" />
        <activity
            android:name=".hour.Hour_info_elev"
            android:exported="false" />
        <activity
            android:name=".hour.Add_hour"
            android:exported="false" />
        <activity
            android:name=".other.CSList"
            android:exported="false" />
        <activity
            android:name=".other.ControlRoom"
            android:exported="false" />
        <activity
            android:name=".other.NFC_detection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.Class_info"
            android:exported="false" />
        <activity
            android:name=".main.NewAccount"
            android:exported="true" />
        <activity
            android:name=".main.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="true" />
    </application>

</manifest>